<!DOCTYPE html>
<html>
<head>
<title>board</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<!-- 공통 라이브러리 include -->

<link rel="stylesheet" href="lib/HTML_template/css/main.css" />
<link rel="stylesheet" href="css/main/main.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1>boardMaster</h1>
			<!-- 			<div class="logo"> -->
			<!-- 				               <span class="icon fa-gem"></span> -->
			<!-- 				<i class="bi bi-keyboard"></i> -->
			<!-- 			</div> -->
			<div class="title-area">
				<div>typing_title</div>
				<div>wpm</div>
				<div>acc</div>
			</div>

			<div class="content">
				<div class="inner">
					<div class="background-text" id="typingText-area"></div>
					<div class="typing-area">
						<textarea rows="" cols="" class="inputBox" id="typingBox-area" spellcheck="false"></textarea>
						<!-- 				        <input type="text" class="inputBox"> -->
					</div>
				</div>
			</div>
			<!--            <nav> -->
			<!--                <ul> -->
			<!--                    <li><a href="#intro">Intro</a></li> -->
			<!--                </ul> -->
			<!--            </nav> -->
		</header>

		<!-- Main -->
		<div id="main"></div>

		<!-- Footer -->
		<footer id="footer">
		    <div class="languageSelect-area">
			    <select id="languageBox">
			        <option value="eng">english</option>
			        <option value="kor">korean</option>
			    </select>
		    </div>

			<!--            <p class="copyright"> -->
			<!--                &copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>. -->
			<!--            </p> -->
		</footer>

	</div>

	<!-- BG -->
	<div id="bg"></div>

	<!-- jquery -->
	<script src="lib/jquery/jquery-3.7.1.min.js"></script>

	<!-- template -->
	<script src="lib/HTML_template/js/browser.min.js"></script>
	<script src="lib/HTML_template/js/breakpoints.min.js"></script>
	<script src="lib/HTML_template/js/util.js"></script>
	<script src="lib/HTML_template/js/main.js"></script>

	<!-- typing -->
	<script src="js/main/main.js"></script>

</body>
</html>
